<div class="container mt-5">

    <div *ngIf="errormsg" class="alert alert-warning alert-dismissible fade show col-lg-6" role="alert">
        <strong>{{ errormsg }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show col-lg-6" role="alert">
        <strong>{{ successmsg }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <form [formGroup]="userForm">
        <div class="col-lg-6 mt-2">
            <input type="text" formControlName="name" class="form-control" placeholder="Enter Full name">
        </div>
        <div class="col-lg-6 mt-2">
            <input type="text" formControlName="email" class="form-control" placeholder="Enter Email">
        </div>
        <div class="col-lg-6 mt-2">
            <input type="text" formControlName="contact_no" class="form-control" placeholder="Enter Mobile Number">
        </div>
        <div class="col-lg-6 mt-2">
            <button class="btn btn-primary" *ngIf="!getparamid" (click)="userSubmit()">Create</button>
        </div>
        <div class="col-lg-6 mt-2">
            <button class="btn btn-success" *ngIf="getparamid" (click)="userUpdate()">Update</button>
        </div>
    </form>
</div>